.userData{

    width:90vw;
    height:90vh;
    margin: 0 auto;
    padding-top: 20px;

    background: silver;

    .user-name{
        width: 90%;
        margin: 0 auto;
        font-size: 33px;
        border-bottom: 2px solid #4f4a4a;

        span{
            font-size: 25px;
            color: #bdc0b7;
        }
    }
}