.container {


    .userData {

        position: relative;
        width: 90%;
        /*height: 85vh;*/
        margin: 0 auto;
        padding-top: 20px;
        background: silver;

        .wind-delete-akk {
            display: none;
            flex-direction: column;
            gap: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            border: 1px solid black;
            background: #afaeae;
            padding: 40px 10px 10px 10px;
            font-size: 25px;
            font-family: "Roboto Light", sans-serif;


            .wind-delete-akk-Btn-Close {
                position: absolute;
                top: 5px;
                right: 5px;
                border: none;
                width: 30px;
                height: 30px;
                background: none;
                cursor: pointer;
                padding: 0;
            }

            .wind-delete-akk-Btn-Close * {
                fill: black;
                width: 30px;
                height: 30px;
            }

            .wind-delete-akk-Btn-Close:active * {
                fill: red;
            }

            input {
                text-align: center;
                font-size: 33px;
                border: none;
                /*border-radius: 10px;*/
                background: #d1cece;
                color: red;
            }

            .wind-delete-akk_BTN-area {
                display: none;

            }

            .wind-delete-akk_BTN-area-VISIBLE {
                display: flex;
                justify-content: space-between;

                button {
                    padding: 10px 20px;
                    font-size: 25px;
                    cursor: pointer;
                    border: none;
                    border-radius: 10px;
                }
            }

            .wind-delete-akk-UserName {
                font-size: 31px;
                text-align: center;
            }

        }

        .wind-delete-akk_Visible {
            display: flex;
        }

        .userData-top_content {
            border-bottom: 2px solid #4f4a4a;
            padding-bottom: 13px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .user-name {
                width: 90%;
                margin: 0 auto;
                font-size: 33px;

                span {
                    font-size: 25px;
                    color: #7a7a79;
                }
            }

            .btn-area {
                display: flex;
                align-items: center;

                button {
                    border: none;
                    background: none;
                    cursor: pointer;
                }
            }
        }

        .userData_main{

            .userData_main_btn-area{

                display: flex;
                justify-content: space-between;

                .userData_main_btn-area_Rtn{
                    text-decoration: none;
                    font-family: "Roboto Light", sans-serif;
                    color: #383737;

                    cursor: pointer;
                    display: flex;
                    gap: 11px;
                    font-size: 33px;
                    align-items: center;
                    fill: red;
                }
                .userData_main_btn-area_Rtn:hover{
                    fill: red;
                    color: red;
                }
                .activeBtn{
                    color: red;
                }
            }
        }

    }
}

@media screen and (min-width:320px) and (max-width:500px){
    .userData{
        .userData-top_content{
            /*border-bottom: 2px solid #4f4a4a;*/
            /*padding-bottom: 13px;*/
            /*display: flex;*/
            /*justify-content: space-between;*/
            /*align-items: center;*/

            .user-name{
                /*width: 90%;*/
                /*margin: 0 auto;*/
                /*font-size: 33px;*/
                font-size: 1.3rem;


                span{
                    /*font-size: 25px;*/
                    /*color: #7a7a79;*/
                    display: none;
                }
            }

            .btn-area{
                display: flex;
                align-items: center;
                button{
                    border: none;
                    background: none;
                    cursor: pointer;
                }
                button *{
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}