/*:root {*/
/*    --color-w-bg: #faf6d7;*/
/*    --color-w-font: #faefc5;*/
/*    --color-w-bgMission: #ebdbb2;*/
/*    --color-w-btn: #076578;*/
/*    --color-w-inputHead: #458487;*/

/*    --color-w-btn_hover: #064855;*/
/*    --color-w-font_hover: #b1ac9b;*/

/*    --color-main-bg: #282828;*/
/*    --color-secondary-bg: #3c3836;*/
/*    --color-secondary-bg-opac:rgba(60,56,54,0.5);*/
/*    --color-primary-font: #A89984;*/
/*    --color-secondary-font: #fbf1c7;*/
/*    --color-primmary-icon: #7C6F64;*/
/*    --color-secondary-icon: #fbf1c7;*/
/*    --color-primary: #8EC07C;*/
/*    --color-primary-hover: #689D6A;*/
/*    --color-secondary: #83A598;*/
/*    --color-secondary-hover: #458588;*/
/*    --color-info: #D3869B;*/
/*    --color-info-hover: #B16286;*/
/*    --color-warning: #FABD2F;*/
/*    --color-warning-hover: #D79921;*/
/*    --color-success: #B8BB26;*/
/*    --color-success-hover: #98971A;*/
/*    --color-danger: #FB4934;*/
/*    --color-danger-hover: #CC241D;*/
/*    --color-header-bg: #282828;*/
/*    --color-search-bg: #3c3836;*/
/*    --color-gray-font: gray;*/
/*}*/
.container{
    background-color: var(--color-w-bg);
    width: 100%;
    height: 100vh;
    position: relative;

    .content{
        max-width: 1200px;
        margin: 0 auto;
        border-right: 1px solid red;
        border-left: 1px solid red;
    }

    header,
    footer{
        background: var(--color-w-btn);
        /*height: 100px;*/
        position: absolute;
    }

    header{
        top: 0;
        width: 100%;
        font-family: "Roboto Light", sans-serif;
        /*color: #3c3836;*/
        color: var(--color-w-font);

        .content{
            display: flex;
            justify-content: space-between;
            align-self: center;
            padding: 10px 0;

            .header_logo{
                img{
                    width: 70px;
                }
            }

            .header_input{
                /*position: relative;*/
                display: flex;
                align-items: center;

                input{

                    /*background-color: #076578;*/
                    background-color: inherit;
                    font-size: 23px;
                    padding-left: 5px;
                    padding-right: 43px;
                    height: 41px;
                    border: none;
                    border-bottom: 2px solid var(--color-secondary-bg);
                    /*color: var(--color-secondary-bg);*/
                    color: var(--color-w-font);
                }
                input:focus {
                    outline-width: 0;
                }
                button {
                    border: none;
                    background: none;
                    cursor: pointer;
                    padding: 3px 0 0 0;
                    margin: 0;
                }

            }
            .header_btnArea{
                margin-left: 5px;
                display: flex;
                align-self: center;
                gap: 30px;
                a{
                    text-decoration: none;
                    color: var(--color-w-font);
                    cursor: pointer;
                    padding-bottom: 5px;
                }
                a:hover{
                    border-bottom: 2px solid var(--color-w-font);
                    margin-bottom: -2px;
                    /*width: 200px;*/
                    /*transition-delay: 1s;*/
                };
                .exam_tickets{
                    position: relative;
                    .exam_tickets_btnArea{
                        z-index: 1;
                        background-color: var(--color-w-btn);
                        padding: 5px;
                        display: none;
                        /*border: 1px solid red;*/
                        position: absolute;
                        top: 20px;
                        left: 0;

                        .exam_tickets_btnArea_btn{
                            color: black;
                            width: 100px;
                            /*border: 1px solid black;*/
                        }
                        .exam_tickets_btnArea_btn:hover{
                            color: black;
                            border-bottom: 1px solid black;
                            margin-bottom: -1px;
                        }


                    }
                }
                .exam_tickets:hover{
                    .exam_tickets_btnArea{
                        display: flex;
                        height: 90vh;
                        overflow-y: scroll;
                        flex-direction: column;
                        gap: 10px;
                    }
                }

            }
            .header_User{
                margin-right: 5px;
                display: flex;
                /*justify-content: space-between;*/
                align-self: center;
                gap: 13px;

            }
        }

    }

    footer{
        bottom: 0;
        width: 100%;
    }

    main{
        padding: 100px 0px 0px 0px;
    }


}