.backError{
    position: absolute;
    right: 0;
    bottom: 0;

    width: 300px;
    background: rgba(37, 37, 37, 0.6);
    padding: 15px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    visibility: hidden; /* Элемент невидим и не занимает место в потоке */
    pointer-events: none;
    .string{
        display: flex;
        gap: 5px;
        .span{
            font-size: 17px;
            font-family: Verdana, sans-serif;
        }
        div{
            color: #262626;
            font-size: 14px;
            font-family: "Roboto Light", sans-serif;
        }
    }
}

.backError_visible{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}