/*:root {*/
/*    --color-w-bg: #faf6d7;*/
/*    --color-w-font: #faefc5;*/
/*    --color-w-bgMission: #ebdbb2;*/
/*    --color-w-btn: #076578;*/
/*    --color-w-inputHead: #458487;*/

/*    --color-w-btn_hover: #064855;*/
/*    --color-w-font_hover: #b1ac9b;*/

/*    --color-main-bg: #282828;*/
/*    --color-secondary-bg: #3c3836;*/
/*    --color-secondary-bg-opac:rgba(60,56,54,0.5);*/
/*    --color-primary-font: #A89984;*/
/*    --color-secondary-font: #fbf1c7;*/
/*    --color-primmary-icon: #7C6F64;*/
/*    --color-secondary-icon: #fbf1c7;*/
/*    --color-primary: #8EC07C;*/
/*    --color-primary-hover: #689D6A;*/
/*    --color-secondary: #83A598;*/
/*    --color-secondary-hover: #458588;*/
/*    --color-info: #D3869B;*/
/*    --color-info-hover: #B16286;*/
/*    --color-warning: #FABD2F;*/
/*    --color-warning-hover: #D79921;*/
/*    --color-success: #B8BB26;*/
/*    --color-success-hover: #98971A;*/
/*    --color-danger: #FB4934;*/
/*    --color-danger-hover: #CC241D;*/
/*    --color-header-bg: #282828;*/
/*    --color-search-bg: #3c3836;*/
/*    --color-gray-font: gray;*/
/*}*/
.all_questions_start-wind{
    display: none;

    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    font-family: "Roboto Light", sans-serif;

    .title{
        color: #b3b3b3;
        font-size: 25px;
        margin-bottom: 10px;
    }

    .all_questions_start-wind_btnArea{
        display: flex;
        gap:5px;

        button{
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: var(--color-w-btn);
            width: 100%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            transition: all 0.3s ease;
            cursor: pointer;
        }

        button:hover {
            background: var(--color-w-btn_hover);
        }

    }

}
.all_questions_start-wind_VISIBLE{
    display: block;
}

.all_questions{
    position: relative;
    display: none;

    .all_questions_counter{
        position: absolute;
        /*top:0;*/
        display: flex;
        align-items: center;
        gap: 10px;

        font-size: 25px;
        .all_questions_counter_red{
            color: red;
        }
        .all_questions_counter_slash{
            font-size: 33px;
        }
        .all_questions_counter_green{
            color: green;
        }
    }


    .all_questions_numbers{

        display: flex;
        /*flex-wrap: wrap;*/
        /*display: inline;*/
        /*height: 41px;*/
        overflow: auto;
        width: 100%;
        padding-bottom: 5px;

        .all_questions_numbers_qwest{
            margin-right: 3px;
            /*width: 39px;*/
            /*height: 29px;*/
            border: 2px solid silver;
            border-radius: 5px;
            /*text-align: left;*/
            font-size: 15px;
            cursor: pointer;
            background: none;
        }

        .all_questions_numbers_qwest_red{
            background-color: red;
            color: white;
        }
        .all_questions_numbers_qwest_green{
            background-color: green;
        }
        .all_questions_numbers_qwest_yellow{
            border: 2px solid orange;
            /*font-size: 55px;*/
            /*padding: 35px;*/
            font-weight: 800;
        }

        button:hover{
            /*background: yellow;*/
        }
    }

    .all_questions_numbers::-webkit-scrollbar {
        /*width: 12px;               !* ширина scrollbar *!*/
        height: 7px;
        /*padding: 5px;*/
    }
    .all_questions_numbers::-webkit-scrollbar-track {
        background: #e5e1c6;        /* цвет дорожки */
    }
    .all_questions_numbers::-webkit-scrollbar-thumb {
        width: 11px;
        background-color: silver;    /* цвет плашки */
        border-radius: 20px;       /* закругления плашки */
        /*border: 3px solid #2c2b2b;  !* padding вокруг плашки *!*/
    }

}
.all_questions_VISIBLE{
    display: block;
}

