
.all_questions{


    .all_questions_numbers{

        display: flex;
        /*flex-wrap: wrap;*/
        /*display: inline;*/
        /*height: 41px;*/
        overflow: auto;
        width: 100%;
        /*overflow;*/

        .all_questions_numbers_qwest{
            margin-right: 3px;
            width: 39px;
            height: 29px;
            border: 2px solid silver;
            border-radius: 5px;
            /*text-align: left;*/
            font-size: 15px;
            cursor: pointer;
            background: none;
        }

        .all_questions_numbers_qwest_red{
            background-color: red;
        }
        .all_questions_numbers_qwest_green{
            background-color: green;
        }
        .all_questions_numbers_qwest_yellow{
            background-color: yellow;
        }

        button:hover{
            /*background: yellow;*/
        }
    }

}

