.errorpage {

    font-family: 'Montserrat', sans-serif;

    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;

    h1 {
        color: #dae6f1;
        font-size: 12.5rem;
        letter-spacing: 0.10em;
        margin: 0.025em 0;
        text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, 0.25);
        white-space: nowrap;
    }

    h2 {
        color: #dae6f1;
        margin-bottom: 0.40em;
    }

    p {
        color: #ccc;
        margin-top: 0;
    }
}



@media screen and (min-width:320px) and (max-width:500px){

    .errorpage {
        h1 {
            font-size: 10.5rem;
        }
    }

}

/*@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,800");*/
/*@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One");*/
/*@import url("https://fonts.googleapis.com/css?family=Paytone+One");*/
/*@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");*/
/*@import url("https://fonts.googleapis.com/css?family=Reem+Kufi");*/
/*@import url("https://fonts.googleapis.com/css?family=Krona+One");*/

/*!** {*!*/
/*!*    margin: 0;*!*/
/*!*    padding: 0;*!*/
/*!*}*!*/
/*.error-box {*/
/*    font-family: "Montserrat";*/

/*    display: flex;*/
/*    height: 100vh;*/
/*    justify-content: center; !* 橫向置中 *!*/
/*    align-items: center; !* 垂直置中 *!*/
/*}*/
/*.error-404,*/
/*.error-text {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/
/*.error-404 {*/
/*    height: 40vh;*/
/*}*/
/*.f404 {*/
/*    display: inline-block;*/
/*    cursor: context-menu;*/
/*    font-family: "Krona One";*/
/*    font-size: 200px;*/
/*    font-size: 28vh;*/
/*    text-align: center;*/
/*    color: #ccc;*/
/*    text-shadow: 0 10vh 40px rgba(0, 0, 0, 0.1);*/
/*    transition: 0.3s;*/
/*}*/
/*.f404:hover,*/
/*.f404:active {*/
/*    margin-top: 3vh;*/
/*    font-size: 175px;*/
/*    font-size: 24.5vh;*/
/*    color: #eee;*/
/*    text-shadow: 0 0 0 rgba(0, 0, 0, 0);*/
/*}*/

/*#f404-1,*/
/*#f404-2,*/
/*#f404-3 {*/
/*    animation: float 2s infinite ease-in-out alternate;*/
/*}*/
/*#f404-2 {*/
/*    animation-delay: 0.4s;*/
/*}*/
/*#f404-3 {*/
/*    animation-delay: 0.8s;*/
/*}*/

/*@keyframes float {*/
/*    100% {*/
/*        transform: translateY(20px);*/
/*    }*/
/*}*/