.errorpage {

    font-family: 'Montserrat', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;

    h1 {
        color: #dae6f1;
        font-size: 12.5rem;
        letter-spacing: 0.10em;
        margin: 0.025em 0;
        text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, 0.25);
        white-space: nowrap;
    }

    h2 {
        color: #dae6f1;
        margin-bottom: 0.40em;
    }

    p {
        color: #ccc;
        margin-top: 0;
    }

}

@media screen and (min-width:320px) and (max-width:500px){
    .errorpage {
        h1 {
            font-size: 10.5rem;
        }
    }
}
